i {
    color: lightblue;
}

.highlighted {
    color: gold;
}

header{
    display: flex;
}

.searchbar{
    width: 70vw;
    height: 3em;
}

.movieCard{
    padding: 1rem;
    margin: 2rem;
    border: 1px solid gray;
}